[submodule "Dependencies/GameArchives"]
	path = Dependencies/GameArchives
	url = https://github.com/maxton/GameArchives.git
[submodule "Dependencies/LibOrbisPkg"]
	path = Dependencies/LibOrbisPkg
	url = https://github.com/maxton/LibOrbisPkg.git
